---
import RecordsItems from "@/components/records-items.astro";
import { getShopPage } from "@/lib/api";
import Layout, { layoutCache } from "@/pages/_/layout.astro";

// DATA ************************************************************************************************************************************
const { products } = await getShopPage({ pocketbase: Astro.locals.pocketbase, cache: import.meta.env.DEV ? "1d" : undefined });

// VARS ************************************************************************************************************************************
const seo = { title: "La Boutique", description: "Retrouvez tous mes produits dans la boutique." };

// CACHE ***********************************************************************************************************************************
Astro.response.headers.set("cache-control", "public, max-age=0, must-revalidate");
Astro.response.headers.set("netlify-cdn-cache-control", "durable, s-maxage=31536000");
Astro.response.headers.set("netlify-cache-tag", [...layoutCache, "products"].join(","));
---

<Layout {seo}>
  <RecordsItems title="Produit" items={products} border="all" intent="light">
    <p>Il n'y a actuellement aucun produit dans la boutique.</p>
  </RecordsItems>
</Layout>
