---
import Section, { type SectionProps } from "@/components/ui/section.astro";
import Title from "@/components/ui/title.astro";
import type { TestimoniesRecord } from "@/lib/pocketbase/schemas";
import type { Image } from "@/lib/pocketbase/utils";
import { Image as Img } from "@unpic/astro";
import TestimoniesItems from "./testimonies-items.svelte";

// PROPS ***********************************************************************************************************************************
const { image, items, ...rest } = Astro.props;
if (items.length === 0) return;

// TYPES ***********************************************************************************************************************************
type Props = SectionProps & { image?: Image; items: Pick<TestimoniesRecord, "author" | "text" | "title">[] };
export type TheTestimoniesProps = Props;
---

<Section class="relative" {...rest}>
  {image && <Img {...image} objectFit="cover" layout="fullWidth" height={596} class="absolute inset-0" />}
  <Title slot="header" text="Témoignages" class="z-10" />
  <div class="relative h-[28rem] w-full">
    <TestimoniesItems client:visible {items} />
  </div>
</Section>
