---
import ContactForm from './contact-form.svelte';
import UiSection from './ui-section.astro';

// PROPS ===================================================================================================================================
const {...rest} = Astro.props;
---

<UiSection title="Me contacter" class="relative" {...rest}>
  <ContactForm client:visible class="w-full max-w-xl" />
  <div class="absolute top-0 -bottom-16 right-0 w-1/2">
  </div>
</UiSection>
