---
import type { z } from 'zod';
import type { zEventItemsP } from '~/schemas/ui';
import UiCarousel from './ui-carousel.astro';
import UiItem from './ui-item.astro';
import UiSection from './ui-section.astro';
import UiTitle from './ui-title.astro';

// PROPS ===================================================================================================================================
const {items = [], ...rest} = Astro.props;

// VARS ====================================================================================================================================
const hasSome = items.length > 0;
const dates = JSON.stringify(Object.fromEntries(items.map(({from, slug}) => [slug, from])));

// TYPES ===================================================================================================================================
export type Props = z.infer<typeof zEventItemsP>;
---

<UiSection expanded={hasSome} {...rest}>
  <UiTitle slot="header" title="Événements" class="mb-8" />
  {
    hasSome ? (
      <UiCarousel class="w-full" dates={dates}>
        {items.map((item) => (
          <UiItem item={item} class="mb-2 splide__slide shadow-md" />
        ))}
      </UiCarousel>
    ) : (
      <div>
        <p>Retrouvez bientôt ici l'ensemble de mes événements.</p>
        <strong>Vous pouvez déjà en obtenir le programme en me faisant une demande via le formulaire de contact.</strong>
      </div>
    )
  }
</UiSection>
