---
import type { z } from 'zod';
import type { zEventItemsP } from '~/schemas/ui';
import UiCarousel from './ui-carousel.astro';
import UiItem from './ui-item.astro';
import UiSection from './ui-section.astro';
import UiTitle from './ui-title.astro';

// PROPS ===================================================================================================================================
const {items = [], ...rest} = Astro.props;

// VARS ====================================================================================================================================
const hasSome = false;//items.length > 0;

// TYPES ===================================================================================================================================
export type Props = z.infer<typeof zEventItemsP>;
---

<UiSection expanded={hasSome} {...rest}>
  <UiTitle slot="header" title="Événements" class="mb-8" />
  {
    hasSome ? (
      <UiCarousel class="w-full">
        {items.map((item) => (
          <UiItem item={item} class="mb-2 splide__slide shadow-md" />
        ))}
      </UiCarousel>
    ) : (
      <p>Il n'y a actuellement aucun événement prévu.</p>
    )
  }
</UiSection>
