---
import type { z } from 'zod';
import type { zNavItemP } from '~/schemas/ui';

// PROPS ===================================================================================================================================
const {item} = Astro.props;

// STYLES ==================================================================================================================================
const {class: cEl = '', 'class:list': classes = []} = Astro.props;
const cLink = 'text-xs font-bold p-2 uppercase rounded group-data-top:text-white hover:bg-primary hover:text-white';

// TYPES ===================================================================================================================================
export type Props = z.infer<typeof zNavItemP>;
---

<li class:list={['mx-1', cEl, ...classes]}>
  <a href={item.to} class:list={[cLink, {'bg-primary text-white': item.isActive}]}>
    {item.label}
  </a>
</li>
