---
import NewsletterForm from './newsletter-form.svelte';
import UiSection from './ui-section.astro';

// PROPS =================================================================================================================================
const {...rest} = Astro.props;
---

<UiSection title="Newsletter" {...rest}>
  <div class="w-full flex gap-12">
    <p class="max-w-lg">Pour recevoir chaque semaine mon bulletin, c'est simple, vous avez juste à saisir votre courriel :</p>
    <NewsletterForm client:visible class="flex-1" />
  </div>
</UiSection>
