---
import type { z } from 'zod';
import type { zTestimonySectionP } from '~/schemas/ui';
import TestimonyItems from './testimony-items.svelte';
import UiImg from './ui-img.astro';
import UiSection from './ui-section.astro';
import UiTitle from './ui-title.astro';

// PROPS ===================================================================================================================================
const {testimonies} = Astro.props;

// VARS ===================================================================================================================================
const {image, items} = testimonies;

// TYPES ===================================================================================================================================
export type Props = z.infer<typeof zTestimonySectionP>;
---

<UiSection class="relative">
  <UiImg image={image} fit="cover" height={596} class="absolute inset-0" />
  <UiTitle slot="header" title="Témoignages" class="z-10" />
  <div class="h-[28rem] w-full relative"><TestimonyItems client:visible {items} /></div>
</UiSection>
