---
import { Sprite } from "astro-icon";
import type { z } from "zod";
import type { zComponentStyles } from "~/schemas/ui";

// STYLES ==================================================================================================================================
const {class: cEl = '', 'class:list': classes = []} = Astro.props;

// TYPES ===================================================================================================================================
export type Props = z.infer<typeof zComponentStyles>;
---

<a href="/" class:list={['flex gap-1 items-center', cEl, ...classes]}>
	<Sprite name="logo" class="w-12 h-12 fill-neutral-800 text-primary hover:text-primary-400" />
	<hgroup class="font-heading uppercase">
		<h3 class="text-sm leading-none text-neutral-800">Traditions</h3>
		<h4 class="text-xs leading-none text-neutral-500">Ancestrales</h4>
	</hgroup>
</a>