---
import type { z } from 'zod';
import type { zTheHeroP } from '~/data/schemas.ui';

// PROPS ===================================================================================================================================
const {image, subtitle, title} = Astro.props;

// STYLES ==================================================================================================================================
const {class: cEl = '', "class:list": classes = []} = Astro.props;

// TYPES ===================================================================================================================================
export type Props = z.infer<typeof zTheHeroP>;
---

<div
  class:list={['flex items-center justify-center bg-cover bg-center font-bold', cEl, ...classes]}
  style={image ? `background-image:url(${image.url})` : ''}
>
  <div class="relative p-40 text-white text-center uppercase tracking-widest">
    <div
      class="absolute inset-0 bg-primary [mask-image:url(/splash.webp)] [mask-position:center] [mask-repeat:no-repeat] [mask-size:contain]"
    >
    </div>
    <h1 class="my-2 relative text-7xl max-w-2xl">{title}</h1>
    <h2 class="relative text-xs">{subtitle}</h2>
  </div>
</div>
