---
import type { z } from 'zod';
import type { zTheHeaderP } from '~/schemas/ui';
import NavBurger from './nav-burger.svelte';
import NavItems from './nav-items.astro';
import TheLogo from './the-logo.astro';

// PROPS ===================================================================================================================================
const {menu} = Astro.props;

// STYLES ==================================================================================================================================
const {class: cEl = '', 'class:list': classes = []} = Astro.props;

// TYPES ===================================================================================================================================
export type Props = z.infer<typeof zTheHeaderP>;
---

<div class:list={[`bg-white p-2 sm:bg-transparent group-data-scrolled:bg-white group-data-scrolled:shadow-lg`, cEl, ...classes]}>
  <nav class="mx-auto container flex items-center justify-between sm:justify-center sm:group-data-scrolled:justify-between">
    <TheLogo class="sm:hidden group-data-scrolled:flex" />
    <NavBurger client:media="(max-width: 640px)" menu={menu} class="sm:hidden" />
    <NavItems menu={menu} class="hidden sm:flex" />
  </nav>
</div>
