---
import type { z } from 'zod';
import type { zUiFeaturesP } from '~/schemas/ui';

// PROPS ===================================================================================================================================
const {features = [], intent = 'white'} = Astro.props;

// STYLES ==================================================================================================================================
const {class: cEl = ''} = Astro.props;
const cElBg = intent === 'white' ? 'bg-primary-200' : 'bg-white/25';

// TYPES ===================================================================================================================================
export type Props = z.infer<typeof zUiFeaturesP>;
---

{features && <dl class:list={['w-full p-4', cElBg, cEl]}>
  {
    features.map(({key, value}) => (
      <div class="flex gap-2">
        <dd class="flex-none font-bold">{key} :</dd>
        <dt>{value}</dt>
      </div>
    ))
  }
</dl>}
