---
import { Mark } from 'astro-portabletext/components';

import type { MarkProps } from 'astro-portabletext/components';

const props = Astro.props;
const markTypeIs = (markType: string) => markType === props.node.markType;

export type Props = MarkProps;
---

{
  markTypeIs('link') ? (
    <a {...props} class="text-primary">
      <slot />
    </a>
  ) : (
    <Mark {...props}>
      <slot />
    </Mark>
  )
}
