---
import '@fontsource/raleway';
import '@fontsource/raleway/400-italic.css';
import '@fontsource/raleway/700.css';
import { Sprite } from 'astro-icon';
import type { z } from 'zod';
import ArticleItems from '~/components/article-items.astro';
import ContactSection from '~/components/contact-section.astro';
import KnowledgeItems from '~/components/knowledge-items.astro';
import NewsletterSection from '~/components/newsletter-section.astro';
import TheFooter from '~/components/the-footer.astro';
import TheHeader from '~/components/the-header.astro';
import TheHero from '~/components/the-hero.astro';
import type { zLayoutP } from '~/data/schemas.ui';
import '~/styles/base.css';
import '~/styles/theme.css';

// PROPS ===================================================================================================================================
const {footer, hero, menu, organization, others, pageType, theme } = Astro.props;

// VARS ====================================================================================================================================
const isKnowledge = pageType === 'knowledge';
const isHome = isKnowledge && theme === 'general';

// TYPES ===================================================================================================================================
export type Props = z.infer<typeof zLayoutP>;
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class:list={`group overflow-x-hidden overflow-y-auto theme-${theme}`}>
    <Sprite.Provider>
      <TheHeader menu={menu} class="z-30 fixed top-0 left-0 w-full" />
      <div id="scrollto"></div>
      <TheHero {...hero} class:list={[isKnowledge ? 'h-screen' : 'h-[640px]']} />
      <slot />
      <KnowledgeItems items={others} />
      <NewsletterSection border="top" intent="primary" />
      {isHome ? <ContactSection intent="light" /> : <ArticleItems items={[organization]} class="mb-4" />}
      <TheFooter {...footer} />
    </Sprite.Provider>
  </body>
</html>

<script>
  const observer = new IntersectionObserver((entries) => (document.body.dataset.scrolled = `${entries[0].boundingClientRect.y < 0}`));
  const scrollto = document.querySelector('#scrollto');
  if (scrollto) observer.observe(scrollto);
</script>
